<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="../static/theme.css" type="text/css">
  <link rel="stylesheet" href="/static/theme.css" type="text/css">
</head>

<body class="">
  <nav class="navbar navbar-light">
    <div class="container"> <a class="navbar-brand text-primary" href="#">
        <i class="fa d-inline fa-lg fa-circle"></i>
        <b>UNLEASHED</b>
      </a> </div>
  </nav>
  <div class="">
    <div class="container">
      <div class="row justify-content-center">
        <div class="m-1 col-md-4 col-12">
          {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
          <ul>
                              {% for message in messages %}
              <li>{{ message[1] }}</li>
          {% endfor %}</ul>
          {% endif %}
          {% endwith %}
          <form method="POST" action="/goal">
            <h2 class=""><small class="text-muted">i want to track</small><br></h2>
            <div class="row wide-drop text-center">
              <div class="col-md-12">
                <div class="form-group">
                  <select class="form-control" name="goal">
                    <option value="Kilometers">Kilometers</option>
                    <option value="Miles">Miles</option>
                    <option value="Hours">Hours</option>
                    <option>Minutes</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row m-1 text-center">
              <div class="col-md-12 m-1">
                <div class="form-group">
                  <select class="form-control" name="activity" multiple="">
                    <option value="run">🏃 Running</option>
                    <option value="cycle">🚴‍ Cycling</option>
                    <option value="swim">🏊‍ Swimming</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="row">
                  <div class="col-xs-4 col-4"><a class="btn btn-primary btn-block" href="#">-</a></div>
                  <div class="col-xs-4 col-4 text-center align-middle">
                    <h5 class="">50</h5>
                  </div>
                  <div class="col-xs-4 col-4"><a class="btn btn-primary btn-block" href="#">+<br></a></div>
                </div>
              </div>
            </div>
            <div class="row text-center">
              <div class="col-md-12">
                <h2 class=""><small class="text-muted">per</small><br></h2>
                <div class="form-group">
                  <select class="form-control" name="duration">
                    <option value="week">Week</option>
                    <option value="month">Month</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 text-center m-1"><button type="submit" class="btn btn-primary w-100">Go!</button></div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <pingendo onclick="window.open('https://pingendo.com/', '_blank')" style="cursor:pointer;position: fixed;bottom: 20px;right:20px;padding:4px;background-color: #00b0eb;border-radius: 8px; width:220px;display:flex;flex-direction:row;align-items:center;justify-content:center;font-size:14px;color:white">Made with Pingendo Free&nbsp;&nbsp;<img src="https://pingendo.com/site-assets/Pingendo_logo_big.png" class="d-block" alt="Pingendo logo" height="16"></pingendo>
</body>

</html>